.idea/
.claude/
.zencoder/
venv/
env/
doc/
temp/
dist/
build/
*.log
*.log.*
__pycache__/
~*.*
~*
.~*
*.sqlite
*.kate-swp
.coverage
copy_to_remote.sh
# Ignore dynaconf secret files
.secrets.*
log/
.secrets.toml
big_image_*.*
vanilla_docker.sh
secrets.env
.cache/
maps/

# Prevent IDE/tool folders in .github
.github/.idea/
.github/.claude/
.github/.zencoder/
